@define-color selected-text #ff6557;
@define-color text #4c4f69;
@define-color base #eff1f5;
@define-color border #ff9898;
@define-color foreground #4c4f69;
@define-color background #eff1f5;
@define-color border2 #ffca98;
