@define-color background-color #2E3440;
@define-color border-color #1e66f5;
@define-color label #FF6557;
@define-color image #F4A340;
@define-color progress #FF6557;


@define-color redorange #FF6557;
@define-color orange #F4A340;
@define-color peach #FFDCA0;
@define-color pink #FF9898;

@define-color grad1 #ffca98;
@define-color grad2 #F4A340;
@define-color grad3 #FF6557;
@define-color grad4 #FF9898;
@define-color grad5 #FF6557
