@define-color base     #2E3440;
@define-color border   #FF9898;  /* salmon */
@define-color border2  #FFCA98;  /* peach */
@define-color text     #D8DEE9;  /* (matches your Walker text define) */

@define-color redorange #FF6557;
@define-color orange #F4A340;
@define-color peach #FFDCA0;
@define-color pink #FF9898;

@define-color grad1 #ffca98;
@define-color grad2 #F4A340;
@define-color grad3 #FF6557;
@define-color grad4 #FF9898;
@define-color grad5 #FF6557;
