@define-color selected-text #ff6557;
@define-color text #D8DEE9;
@define-color base #2E3440;
@define-color border #ff9898;
@define-color foreground #4c4f69;
@define-color background #2E3440;
@define-color border2 #ffca98;


