@define-color selected-text #FAFF99;
@define-color text #D8DEE9;
@define-color base #2E3440;
@define-color border #fefbd0;
@define-color foreground #D8DEE9;
@define-color background #2E3440;
@define-color border2 #afc5da;
