@import "../omarchy/current/theme/waybar.css";

window#waybar {
  /*background-color: @background; */ 
  border-radius: 12px;
  margin: 8px 10px 0 10px;   /* top right bottom left */
  padding: 2px 6px;
}




* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  background: transparent;
  padding: 0;
  margin: 0;
}

/* Chips */
#comworkspaces,
#mpris,
#custom-logo,
#custom-clock-jp,
#center-indicators,
#tray-expander,
#custom-weather,
#network,
#custom-memory,
#cpu,
#custom-temperature,
#power { 
  border-radius: 10px;
  padding: 0px 6px;
  margin: 0 1px;
}



.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

.modules-center {
  margin-left: -50px;
}

#workspaces button {
  all: initial;
  font-family: 'CaskaydiaMono Nerd Font';
  padding: 0 5px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#mpris {
  margin-right: 10px;
  padding: 0 8px;

}


#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 6px;
}

#custom-bluetooth-name {
  margin-left: 0px;
  margin-right: 4px;
}

#pulseaudio {
  margin-right: 6px;
}

#tray {
  margin-right: 6px;
}

#network {

}

#custom-memory {

}

#custom-expand-icon {
margin-right: 6px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 5px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 5px;
  font-size: 10px;
  padding-bottom: 1px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}

#battery {
  margin-right: 6px;
}

tooltip {
  background: @background;
  color: @foreground;
  border-radius: 10px;
  padding: 8px 10px;
  border: 2px solid @border;;
}

#battery.warning {
  color: rgba(254, 251, 208, 0.92); 
}

#custom-temperature.warning {
  color: rgba(254, 251, 208, 0.92);
}

#custom-memory.warning {
  color: rgba(254, 251, 208, 0.92);
}

#battery.critical {
  color: rgba(255, 152, 152, 0.92);
}

#custom-temperature.critical {
  color: rgba(255, 152, 152, 0.92);
}

#custom-memory.critical {
  color: rgba(255, 152, 152, 0.92);
}

#custom-logo {

  /*border-radius: 40px;*/

  /* spacing consistent with your chips */
  padding: 2px 13px;
  margin: 0 1px;
  


  /* make sure the box exists even though format is just " " */
  min-width: 40px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 50px 28px;

}








#custom-voxtype {
  min-width: 12px;
  margin: 0 0 0 7.5px;
}

#custom-voxtype.recording {
  color: #a55555;
}
