@define-color base     #0C0D10;
@define-color border   #F2D38A;  /* ash */
@define-color border2  #F2D38A;  /* gold rim */
@define-color text     #B8BCC8;  /* soft silver */

@define-color redorange #FF6557;
@define-color gold #F2D38A;
@define-color lightblue #E6E8EE;
@define-color mutedpurple #7B6C9D;

@define-color grad1 #12141A;
@define-color grad2 #181B22;
@define-color grad3 #22252E;
@define-color grad4 #F2D38A;
@define-color grad5 #22252E;

