@define-color background-color #0C0D10;
@define-color border-color #F2D38A;
@define-color label #F2D38A;
@define-color image #F2D38A;
@define-color progress #F2D38A;

@define-color gold #F2D38A;
@define-color lightblue #E6E8EE;
@define-color mutedpurple #7B6C9D;

@define-color grad1 #12141A;
@define-color grad2 #181B22;
@define-color grad3 #F2D38A;
@define-color grad4 #f2d38a;
@define-color grad5 #22252E

