@define-color selected-text #F2D38A;
@define-color text #B8BCC8;
@define-color base #0C0D10;
@define-color border #F2D38A;
@define-color foreground #3A3E4B;
@define-color background #12141A;
@define-color border2 #3A3E4B;

@define-color redorange #FF6557;
@define-color gold #F2D38A;
@define-color lightblue #E6E8EE;
@define-color mutedpurple #7B6C9D;

@define-color grad1 #12141A;
@define-color grad2 #181B22;
@define-color grad3 #F2D38A;
@define-color grad4 #F2D38A;
@define-color grad5 #22252E;

