@define-color foreground #B8BCC8; /* text */
@define-color background #12141A; /* base */
@define-color border     #F2D38A; /* gold rim */
@define-color accent     #7B6C9D; /* soft violet */


window#waybar {
  background: @transparent;
  border: 2px solid rgba(242, 211, 138, 0.35);
  border: none;
}

.modules-left,
.modules-right {
  background-color: rgba(18, 20, 26, 0.70); /* near-black translucent */
  border: 1px solid rgba(34, 37, 46, 0);
}

.modules-center {
  background-color: rgba(18, 20, 26, 0.70); /* near-black translucent */
  border: 1px solid rgba(34, 37, 46, 0);

}

#comworkspaces,
#mpris,
#custom-logo,
#custom-clock-jp,
#center-indicators,
#tray-expander,

#network,
#custom-memory,
#cpu,
#custom-temperature,
#power {
  background: @background;
  border: 2px solid @border;
}

#tray,
#pulseaudio,
#bluetoothstuff {
 
  border-right: 1px solid @border;
  padding-right: 6px;

}

#mpris.paused {
  color: rgba(184, 188, 200, 0.72);
}

#pulseaudio.muted {
  color: rgba(255, 101, 87, 0.92);
}

#custom-omarchy {
  color: rgba(184, 188, 200, 0.92);
}

#custom-omarchy-update{
  color: rgba(242, 211, 138, 0.92);
}

#workspaces {
  color: rgba(184, 188, 200, 0.92);
}

#custom-memory.warning {
  color: rgba(242, 211, 138, 0.92);
}

#custom-logo {
  background-image: url("/home/kazuki/.config/omarchy/themes/eclps/ECLPS_OS_Logo.png");
}

